body {font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;}
h1 {text-align: center;font-size: 175%; margin-bottom: 30px;}
.meet-label {font-size: 125%; text-align: center; 
    font-weight: bold;
    width: 30%; float: right;
    border: 1px black solid;}
.chicken {background-color: lightcoral;}
.beef {background-color: brown; color: white;}
.sushi {background-color: burlywood;}

.dish {background-color: darkgray; 
    border: 1px black solid; margin: 20px 10px;
}

p {clear: right; padding: 5px; margin: 0px;}

@media (min-width: 992px)
    {.col-lg-4{float: left; width: 33%;}}
@media (min-width: 768px) and (max-width: 991px)
    {.col-md-6{float: left;width: 50%;}
    .col-md-12{clear: both;}}

